{% macro show_job(job) %}
<div class="card adjust-height">
  <header class="card-header">
    <p class="card-header-title">
      <a>{{ job['title'] }}</a>
    </p>
  </header>
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
      <a>{{ job['employer_name'] }}</a><br>
        ${{ job['salary'] }}<br>
        {{ job['description'] }}
    </div>
  </div>
</div>
{% endmacro %}

{% macro show_jobs(jobs) %}
<div class="columns is-multiline">
  {% for job in jobs %}
    <div class="column is-half">
      {{ show_job(job) }}
    </div>
  {% endfor %}
</div>
{% endmacro %}